body {
    margin:auto;
    width:70%;
}
.xx-small{
    font-size: xx-small;
    
}
.x-small{
    font-size: x-small;
}



.button-width{
    width:auto;
}

.special-font{font-family: Salesforce Sans,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;}

.text-center{
    text-align:center
}