
{%extends 'base.html'%}

{%block body%}
Schedule_id : {{schedule_id}}
<form class= "form-group" action = "{{url_for('flight.delay_flight', schedule_id = schedule_id)}}" method = 'post'>
<div class="input-group">
    
    <select class="form-select" name = "delay_amount" id="inputGroupSelect04" aria-label="Example select with button addon">
      <option selected value = "10">10 mins</option>
      <option value="10">20 mins</option>
      <option value="30">30 mins</option>
      <option value="60">60 mins</option>
    </select>
    <button class="btn btn-outline-secondary" type="submit">Button</button>
  </div>
</form>



{%endblock%}