{%extends 'base.html'%}

{%block title%}

{%endblock%}


{%block heading%}
<p class=" d-flex justify-content-center display-6"> Flight {{flight.code}}</p>
{%endblock%}


{%block body%}

<div class="table table-bordered">

    <tr>

        <a href="{{url_for('flight.schedule_flight',flight_id = flight.id)}}" class="btn btn-success btn-sm">
            <i class="fas fa-calendar-alt"></i> Schedule Flight
        </a>

        <a href="#" class="btn btn-secondary btn-sm">
            <i class="far fa-edit"></i></i> Edit
        </a>

    </tr>
</div>
<div class="index_table">
    <table class=" text-center table table-striped table-hover table-bordered">

        <thead class = "special-font small">
            <tr>

                <th>Flight Code</th>
                <th>Model</th>
                <th>Capacity</th>
                <th>Category</th>
                <th>Date of First Flight</th>
                <th>Status</th>
                <th>Schedule History</th>


            </tr>
            <thead>
            <tbody class = "special-font small">
                <tr>

                    <td>{{flight.code}}</td>
                    <td>{{flight.model}}</td>
                    <td>{{flight.capacity}}</td>
                    <td>{{flight.category}}</td>
                    <td>{{flight.date_of_first_flight.strftime('%b %d, %Y')}}</td>
                    <td>{{flight.status()}}</td>
                    <td>Schedule History</td>
                </tr>



            </tbody>

    </table>
</div>

<h2>Passengers</h2>

<div class="index_table">
    <table class=" text-center table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th><input class="all form-check-input" name="all" type="checkbox" id="input1" aria-label="..."> All
                </th>

                <th>Booking Reference</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Booking Date</th>
                <th>Booking Time</th>
                <th>Action</th>

            </tr>

            <thead>
            <tbody>
                {%for passenger in flight.passengers%}
                <tr>

                    <td>{{loop.index}}</td>
                    <td>
                        <input class="item form-check-input" name="checkbox" type="checkbox" id="input1"
                            value="{{passenger.id}}" aria-label="...">

                    </td>

                    <td>{{passenger.booking_reference}}</td>
                    <td>{{passenger.firstname}}</td>
                    <td>{{passenger.lastname}}</td>
                    <td>{{passenger.gender}}</td>
                    <td>{{passenger.timestamp.strftime('%Y-%m-%d') }}</td>
                    <td>{{passenger.timestamp.strftime('%H: %M' ) }}</td>

                    <th>
                        <a href="#" class="btn btn-secondary btn-sm">
                            <i class="far fa-edit"></i></i> Edit
                        </a>
                        <a href="{{url_for('main.delete_passenger', flight_id = flight.id, passenger_id = passenger.id)}}"
                            class="btn btn-danger btn-sm">
                            <i class="far fa-trash-alt"></i></i> Delete
                        </a>

                    </th>


                </tr>
                {%else%}
                No Passengers
                {%endfor%}

            </tbody>

    </table>
</div>
<script>
    $(':checkbox.all').change(function () {
        $(':checkbox.item').prop('checked', this.checked);
    });
</script>

{%endblock%}