{% extends "base.html" %}


{%block title%}

{%endblock%}


{%block heading%}
<a class="btn btn-outline-primary" data-bs-toggle="collapse" href="#all_flights_list" role="button"
  aria-expanded="false" aria-controls="all_flights_list">
  <i class="fas fa-plane"></i> Show All Flights
</a>

<a class="btn btn-outline-primary" data-bs-toggle="collapse" href="#schedule_flight" role="button" aria-expanded="false"
  aria-controls="schedule_flight">
  <i class="far fa-calendar-alt"></i> Schedule Flight
</a>

<a class="btn btn-outline-primary" data-bs-toggle="collapse" href="#delay_flight" role="button" aria-expanded="false"
  aria-controls="delay_flight">
  <i class="far fa-calendar-times"></i> Delay Flight
</a>


{%endblock%}


{%block body%}

<div>

  <!-- SHOW ALL FLIGHT -->
  <div class="collapse" id="all_flights_list">
    <div class="card card-body mt-3">
      <p class="display-6"> Show All Flights</p>
      <div class=index_table>
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr style='text-align: center;'>
              <th style='width:5%;' class="">Code</th>
              <th style='width:5%;'>Origin</th>
              <th style='width:5%;'>Destination</th>
              <th style='width:5%;'>Capacity</th>
              <th style='width:5%;'>Open Seats</th>
              <th style='width:5%;'>Departure Time</th>
              <th style='width:5%;'>Arrival Time</th>
              <th style='width:5%;'>Duration (mins)</th>
              <th style='width:10%;'>Action</th>
            </tr>

            <thead>
            <tbody>
              {%for flight in flights%}
              <tr style='text-align: center;'>
                <td class=""><a href="{{url_for('main.flight',flight_id=flight.id)}}">{{flight.code}}</a></td>

                <td>{{flight.origin}}</td>
                <td>{{flight.destination}}</td>
                <td>{{flight.capacity}}</td>
                <td>{{flight.open_seats()}}</td>
                <td>{{flight.departure_time.strftime('%b %d|%H:%M')}}</td>
                <td>{{flight.arrival_time.strftime('%b %d|%H:%M')}}</td>
                <td>{{((flight.arrival_time-flight.departure_time).total_seconds())//60}}</td>
                <td>
                  <a href="{{url_for('main.edit_flight', flight_id = flight.id)}}" class="btn btn-secondary btn-sm">
                    <i class="far fa-edit"></i></i> Edit
                  </a>
                  <a href="{{url_for('main.delete_flight',flight_id = flight.id)}}" class="btn btn-danger btn-sm">
                    <i class="far fa-trash-alt"></i></i> Delete
                  </a>
                </td>
              </tr>
              {%endfor%}
            </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- UPLOAD FLIGHT DATA -->
  <div class="row">
    <div class="collapse" id="schedule_flight">
      <div class="card card-body mt-3">
        <div class="row">
          <p class="lead">How do you want to Schedule flight? You can either upload flight data from a csv file or enter
            the flight
            data in the
            Schedule Flight form below</p>
          <hr>

        </div>
        <p class="display-6"> <i class="fas fa-upload"></i> Upload Flight Data</p>

        <form class="form-group" action="{{url_for('main.upload_flight')}}" method='post'>
          <div class="row">
            <div class="col-4">
              <input type="file" class="input-group form-control " name="file_name">
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary"><i class="fas fa-upload"></i>  Upload</button>

            </div>
            <!-- <label class="input-group-text" for="inputGroupFile02">Upload</label> -->

          </div>
        </form>


      </div>
    </div>

    <!-- SCHEDULE FLIGHT DATA -->
{%if flight%}
    <div class="row">

      <div class="col-sm-8">
        <div class="collapse" id="schedule_flight">
          <div class="d-flex card card-body mt-3">
            <p class="display-6"> <i class="far fa-calendar-alt"></i>  Schedule Flight</p>
            <form action="{{url_for('main.schedule_flight')}}" method="post">

              <div class=" ml-0 mr-0 mt-3">

                <div class="input-group mt-3 mb-3">

                  <input class="input-group form-control" value = "{{flight.origin}}" name="flight_origin" placeholder="From"/>

                  
                  <span class="input-group-text"><i class="fas fa-plane"></i></span>

                  <input class="input-group form-control" value = "{{flight.destination}}" name="flight_destination" placeholder="To"/>

                  
                </div>
              </div>




              <!-- FLIGHT DATETIMEPICKER -->
              <div class="row mb-3">
                <div class="col">
                  <label for="departure-date" class="pb-2">Departure Date</label>
                  <input type='datetime-local' class='input-group form-control' value = "{{flight.departure_time}}" name='departure_time'>

                </div>

                <div class="col">
                  <label for="arrival-date" class="pb-2">Arrival Date</label>
                  <input type='datetime-local' value = "{{flight.arrival_time}}" class='input-group form-control' name='arrival_time'>

                </div>
              </div>

              <!-- FLIGHT CAPACITY -->
              <div class="input-group mb-3">
                <label class=" d-flex justify-content-center input-group-text" for="inputGroupSelect01">Capacity
                </label>
                <select class="form-select" id="inputGroupSelect01"  value = "{{flight.capacity}}" name="flight_capacity">
                  <!-- <option selected>Choose delay duration...</option> -->
                  <option value="5"> 5 Passengers</option>
                  <option value="7">7 Passengers</option>
                  <option value="10">10 Passengers</option>
                </select>
                <!-- FLIGHT CODE -->

                <input class="input-group form-control" name="flight_code" value = "{{flight.code}}" placeholder="flight code e.g XXR384">
                <span class="input-group-text "><i class="fas fa-plane"></i></span>


              </div>
              <button class="btn btn-primary" type="submit"><i class="far fa-calendar-alt"></i>  Schedule Flight</button>
            </form>
          </div>
        </div>



      </div>
{%endif%}






    </div>



    <!-- DELAY FLIGHT -->

    <div class="row">
      <div class="col-sm-6">

        <div class="collapse" id="delay_flight">
          <div class="d-flex card card-body mt-3">
            <p class="display-6"><i class="far fa-calendar-times"></i> Delay Flight</p>
            <form action="{{url_for('main.delay_flight')}}" method="post">

              <div class=" ml-0 mr-0 mt-3">
                <div class="input-group mt-3 mb-3">
                  <select class="form-select" name="flight_origin">
                    <option selected> From</option>
                    {%for flight in flights%}
                    <option value={{flight.origin}}>{{flight.origin}}</option>
                    {%endfor%}
                  </select>
                  <span class="input-group-text"><i class="fas fa-plane"></i></span>
                  <select class="form-select" name="flight_destination">
                    <option selected> To</option>
                    {%for flight in flights%}

                    <option value={{flight.destination}}>
                      {{flight.destination}}
                    </option>

                    {%endfor%}
                  </select>
                </div>
              </div>
              <div class="row mt-4 mb-4">
                <div class="col">
                  <div class="">
                    <!-- <label for="exampleFormControlInput1" class="form-label">Flight Code</label> -->
                    <input type="text" class="form-control form-control" name="flight_code"
                      placeholder="Enter Flight Code">
                  </div>
                </div>
                <div class="col">
                  <div class="input-group">
                    <label class="input-group-text" for="inputGroupSelect01">Delay
                      by</label>
                    <input style="text-align:center" type='number' class='form-control' name="delay_amount"
                      placeholder="Delay Amount">
                  </div>
                </div>
              </div>
              <button class="btn btn-primary" type="submit"><i class="far fa-calendar-times"></i> Delay Flight</button>
            </form>
          </div>
        </div>



      </div>






    </div>
  </div>


</div>


</div>


<script>
  $(function () {
    $('#datetimepicker1').datetimepicker();

  });


  $(function () {
    $('#datetimepicker2').datetimepicker();

  });

</script>

{%endblock%}