{%extends 'base.html'%}

{%block body%}

<div class="" id="all_pilots_lists">
    <div class="card card-body mt-3">
        <p class="display-6 text-muted"><i class="fas fa-users">   </i>Passengers for {{flight.flight.code}} from {{flight.origin}} to {{flight.destination}}</p>
        <div class=index_table>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr style='text-align: center;'>
                        <th style='width:3%;' class="">#</th>
                        <th style='width:5%;'>Reference</th>
                        <th style='width:5%;' class="">First Name</th>
                        <th style='width:5%;'>Last Name</th>
                        <th style='width:5%;'>Email</th>
                        <th style='width:3%;'>Gender</th>
                        <th style='width:5%;'>Date Registered</th>
                        <th style='width:5%;'>Status</th>
                        <th style='width:13%;'>Action</th>
                    </tr>

                    <thead>
                    <tbody>
                        {%for passenger in passengers%}
                        <tr style='text-align: center;'>
                            <td class="">{{loop.index}}</td>
                            <td>{{passenger.booking_reference}}</td>
                            <td>{{passenger.firstname}}</td>
                            <td>{{passenger.lastname}}</td>
                            <td>{{passenger.email}}</td>
                            <td>{{passenger.gender}}</td>
                            <td>{{passenger.timestamp.strftime('%b %d, %Y')}}</td>
                            <td>
                                
                                {%if passenger.status() %}
                                <span class="badge rounded-pill bg-success "> {{passenger.status()}}</span>
                                {%else%}
                                <span class="badge rounded-pill bg-danger"> {{passeger.status()}}</span>
                                {%endif%}

                            </td>
                           
                            <td>
                                <a href="#" class="btn btn-secondary btn-sm">
                                    <i class="far fa-edit"></i></i> Edit
                                </a>
                                <a href="#" class="btn btn-danger btn-sm">
                                    <i class="far fa-trash-alt"></i></i> Delete
                                </a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock%}