{%extends 'base.html'%}

{%block title%}
Flight Information
{%endblock%}


{%block heading%}
Information for Flight {{flight.code}}
{%endblock%}


{%block body%}
<h2>Flight Details</h2>
<ul>
    <li>Origin: {{flight.origin}}</li>
    <li>Destination: {{flight.destination}}</li>
    <li>Duration: {{flight.duration}} minutes</li>
    <li>Seat Capacity: {{flight.capacity}}</li>

</ul>

<h2>Passengers</h2>


<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
        </tr>

        <thead>
        <tbody>
            {%for passenger in passengers%}
            <tr>

                <td>{{passenger.firstname}}</td>
                <td>{{passenger.lastname}}</td>
                <td>{{passenger.gender}}</td>


            </tr>
            {%else%}
            No Passengers
            {%endfor%}

        </tbody>

</table>





<!-- 
<h2>Pilot</h2>
    <ul>
            <li>First Name: {{pilot.firstname}}</li>
            <li>Last Name: {{pilot.lastname}}</li> 
            
        

    </ul> -->

{%endblock%}