{%extends 'base.html'%}

{%block title%}

{%endblock%}


{%block heading%}
<p class="display-6">Information for Flight {{flight.code}}</p>
{%endblock%}


{%block body%}
<h2>Flight Details</h2>
<ul>
    <li>Origin: {{flight.origin}}</li>
    <li>Destination: {{flight.destination}}</li>
    <li>Duration: {{flight.duration}} minutes</li>
    <li>Seat Capacity: {{flight.capacity}}</li>
    <li>Open Seats: {{flight.open_seats()}}</li>

</ul>

<h2>Passengers</h2>

<div class="index_table">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Booking Reference</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Booking Date</th>
                <th>Booking Time</th>
                <th>Action</th>

            </tr>

            <thead>
            <tbody>
                {%for passenger in flight.passengers%}
                <tr>
                    <td>{{passenger.booking_reference}}</td>
                    <td>{{passenger.firstname}}</td>
                    <td>{{passenger.lastname}}</td>
                    <td>{{passenger.gender}}</td>
                    <td>{{passenger.timestamp.strftime('%Y-%m-%d') }}</td>
                    <td>{{passenger.timestamp.strftime('%H: %M' ) }}</td>

                    <th>
                        <a href="#" class="btn btn-secondary btn-sm">
                            <i class="far fa-edit"></i></i> Edit
                        </a>
                        <a href="{{url_for('delete_passenger', flight_id = flight.id, passenger_id = passenger.id)}}"
                            class="btn btn-danger btn-sm">
                            <i class="far fa-trash-alt"></i></i> Delete
                        </a>

                    </th>


                </tr>
                {%else%}
                No Passengers
                {%endfor%}

            </tbody>

    </table>
</div>


{%endblock%}