{%extends 'base.html'%}

{%block title%}
Flight Information
{%endblock%}


{%block heading%}
Information for Flight {{flight.code}}
{%endblock%}


{%block body%}
<h2>Flight Details</h2>
<ul>
    <li>Origin: {{flight.origin}}</li>
    <li>Destination: {{flight.destination}}</li>
    <li>Duration: {{flight.duration}} minutes</li>
    <li>Seat Capacity: {{flight.capacity}}</li>
    <li>Open Seats: {{flight.open_seats()}}</li>

</ul>

<h2>Passengers</h2>

<div class="index_table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Booking Reference</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Booking Date</th>
                <th>Booking Time</th>
            </tr>

            <thead>
            <tbody>
                {%for passenger in flight.passengers%}
                <tr>
                    <td>{{passenger.booking_reference}}</td>
                    <td>{{passenger.firstname}}</td>
                    <td>{{passenger.lastname}}</td>
                    <td>{{passenger.gender}}</td>
                    <td>{{passenger.timestamp.strftime('%Y-%m-%d') }}</td>
                    <td>{{passenger.timestamp.strftime('%H: %M' ) }}</td>


                </tr>
                {%else%}
                No Passengers
                {%endfor%}

            </tbody>

    </table>
</div>


{%endblock%}